# =========================
# Dependencies
# =========================
node_modules/

# =========================
# Environment variables
# =========================
.env
.env.*
!.env.example

# =========================
# Logs
# =========================
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# =========================
# Runtime data
# =========================
pids/
*.pid
*.seed
*.pid.lock

# =========================
# Build / Output
# =========================
dist/
build/

# =========================
# Coverage (testing)
# =========================
coverage/

# =========================
# Cache
# =========================
.cache/
.nyc_output/

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# IDE & Editor
# =========================
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
